.fs-skype_white {
  position: relative;
  margin-left: 25px;
}
.fs-skype_white::before {
  content: '';
  position: absolute;
  left: -25px;
  bottom: 4px;
  display: inline-block;
  width: 19px;
  height: 19px;
  background: url(../img/fs-skype_white.png);
}
.call-skype::before {
  content: '';
  display: inline-block;
  width: 27px;
  height: 27px;
  margin-right: 10px;
  background: url(../img/fs-skype.png) no-repeat;
  vertical-align: middle;
}
.b-exit {
  position: relative;
  margin-left: 25px;
}
.b-exit::before {
  content: '';
  position: absolute;
  left: -25px;
  display: inline-block;
  width: 12px;
  height: 18px;
  background: url(../img/fs-exit.png) no-repeat;
  vertical-align: middle;
}
/*************/
.bg-eyes {
  background-image: url(../img/bg-eyes.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-error {
  background-color: #2f5682;
}
.bg-partners {
  background: url(../img/bg-partners.jpg) no-repeat, #224A63;
  border-top: 1px solid #296E99;
  background-size: 100% auto;
}
.bg-cabinet {
  background: url(../img/bg-cabinet.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid transparent;
}
.bg-darken {
  background-color: #224A63;
  color: #fff;
}
.bg-darken .main-menu a {
  color: #fff;
}
.bg-darken .main-menu a:hover {
  color: #cccccc;
}
.bg-darken .main-menu .active a {
  text-decoration: none;
  color: #cccccc;
}
.bg-darken a:hover {
  color: #cccccc;
}
.bg-index {
  background-image: url(../img/bg-index.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #05577E;
  overflow: hidden;
}
header {
  padding: 14px 0;
  color: #fff;
  background-color: #296E99;
}
header .question {
  position: relative;
  margin-left: 30px;
}
header .question::before {
  content: '?';
  position: absolute;
  top: -2px;
  left: -30px;
  width: 9px;
  height: 20px;
  padding: 1px 7px;
  line-height: 20px;
  border: 1px solid #fff;
  border-radius: 50%;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}
header .question:hover::before {
  color: #3a638f;
  background: #fff;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}
header .exit {
  position: relative;
  margin-left: 20px;
}
header .exit::before {
  content: '';
  position: absolute;
  top: 0;
  left: -20px;
  width: 12px;
  height: 18px;
  background: url(../img/fs-exit.png);
}
header a {
  color: #fff;
  text-decoration: none;
}
header a:hover {
  color: #a7cfe7;
}
header a:hover::before {
  text-decoration: none;
}
.top {
  margin: 35px 0 75px 0;
}
/*------FOOTER-------*/
footer {
  position: relative;
  height: 84px;
  padding: 16px 0;
  color: #ece6e9;
  background-color: #212121;
  z-index: 1;
}
footer div {
  height: 50px;
  display: table;
}
footer div .table-cell {
  display: table-cell;
  vertical-align: middle;
}
footer a {
  color: inherit;
  font-size: 13px;
  line-height: 15px;
}
footer p {
  margin: 0;
  font-size: 13px;
}
footer .kamod-cr {
  position: relative;
  padding-left: 35px;
  text-decoration: none;
}
footer .kamod-cr::before {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  display: inline-block;
  width: 23px;
  height: 26px;
  background: url(../img/sprites.png);
  background-position: 0 0;
}
footer .kamod-cr:hover {
  color: #3a638f;
}
footer .kamod-cr:hover:before {
  background-position: 0 -30px;
}
/*--______MAP--_____*/
.mapping {
  color: #fff;
  background-color: #296E99;
}
.mapping .blue-block {
  position: relative;
  float: left;
  width: 42.1875%;
  height: 600px;
  min-width: 330px;
}
.mapping .blue-block .contacts {
  position: absolute;
  right: 0;
  width: 332px;
  padding-right: 60px;
  background-color: #296E99;
}
.mapping .blue-block .contacts h3 {
  margin-bottom: 20px;
}
.mapping .blue-block .contacts ul {
  list-style-type: none;
  margin-bottom: 30px;
}
.mapping .blue-block .contacts ul li {
  line-height: 24px;
  font-weight: 300;
}
.mapping .blue-block .contacts ul li a {
  color: #fff;
  text-decoration: none;
}
.mapping .blue-block .contacts ul li a:hover {
  color: #fff;
}
.mapping #map_canvas {
  float: left;
  width: 57.8125%;
  height: 600px;
}
.mapping h3 {
  margin: 0;
}
.mapping p {
  font-weight: 300;
}
/*-------Modal Windows--------*/
.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #296e99;
  overflow: hidden;
  z-index: 990;
}
.box-modal {
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 30px;
  background-color: #fff;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 999;
}
.box-modal__close {
  font-size: 12px;
  color: #212121;
  cursor: pointer;
}
.box-modal__content {
  padding: 30px;
}
/**/
.question-modal__window,
.call-modal__window {
  width: 450px;
}
.question-modal__window .fields-block,
.call-modal__window .fields-block {
  margin-top: 30px;
}
.question-modal__window .border-field,
.call-modal__window .border-field {
  margin-top: 15px;
  margin-bottom: 15px;
}
.question-modal__window textarea,
.call-modal__window textarea {
  height: 150px;
}
/*************/
.block-edit {
  width: 840px;
}
.block-edit h6 {
  margin-top: 0;
  font-size: 20px;
  font-weight: 700;
}
.block-edit input:not([type="submit"]) {
  width: 100%;
  margin-bottom: 18px;
  border-top: 1px solid #888;
  border-right: 1px solid #888;
  border-bottom: 1px solid #888;
  border-left: 1px solid #888;
  font-size: 15px;
}
.block-edit input[type="submit"] {
  padding-top: 10px;
  padding-bottom: 10px;
}
.block-edit__send {
  margin-top: 30px;
}
.fjs--mobmenu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  padding-top: 15px;
  background-color: #296E99;
  opacity: 1;
  overflow: hidden;
  z-index: 9;
  -webkit-transition: opacity .7s, height .3s;
  transition: opacity .7s, height .3s;
  will-change: opacity, height;
}
.fjs--mobmenu.invisible {
  opacity: 0;
  z-index: -1;
}
.fjs--mobmenu.active {
  height: 250px;
}
.fjs--mobmenu.active .fjs--mobmenu__content {
  opacity: 1;
}
.fjs--mobmenu .container {
  position: relative;
}
.fjs--mobmenu__close {
  position: absolute;
  top: -33px;
  right: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.fjs--mobmenu__close span {
  display: block;
  width: 100%;
  height: 1px;
  margin-bottom: 6px;
  background-color: #fff;
  -webkit-transition: transform .3s;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  will-change: transform;
}
.fjs--mobmenu__close span.opened:nth-child(1) {
  position: absolute;
  top: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.fjs--mobmenu__close span.opened:nth-child(2) {
  display: none;
}
.fjs--mobmenu__close span.opened:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.fjs--mobmenu__content {
  opacity: 0;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}
.iphone .fjs--img,
.iphone .transition-block {
  -webkit-transform: none;
  transform: none;
}
.iphone .fjs--img img,
.iphone .transition-block img,
.iphone .fjs--img span,
.iphone .transition-block span {
  -webkit-animation: none;
          animation: none;
  -webkit-transform: none;
          transform: none;
}
.fjs--img {
  position: relative;
}
.fjs--img img {
  position: relative;
  max-width: 100%;
}
.fjs--img img {
  -webkit-transform: perspective(100px) rotate3d(0, -1, 0, -3deg);
  transform: perspective(100px) rotate3d(0, -1, 0, -3deg);
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
}
.fjs--img .transition-block {
  display: block;
  position: absolute;
  top: -15px;
  left: 20px;
  width: 100%;
  height: 100%;
  background-color: rgba(206, 231, 250, 0.42);
  -webkit-transform: perspective(100px) rotate3d(0, -1, 0, -3deg);
  transform: perspective(100px) rotate3d(0, -1, 0, -3deg);
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
}
.fjs--img img {
  -webkit-animation: animateimg 10s infinite linear;
          animation: animateimg 10s infinite linear;
}
.fjs--img span {
  -webkit-animation: animatespan 10s infinite linear;
          animation: animatespan 10s infinite linear;
}
.fjs--prices-search {
  position: absolute;
  top: 290px;
  left: 0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fff;
}
.fjs--prices-search_fixed {
  position: fixed;
  top: 50px;
}
.video-block {
  margin-top: 20px;
}
/******PLAGINS*******/
.input-width-js input {
  opacity: 0;
}
.field-price-search input.input-width-js {
  padding: 0;
}
/*slider*/
.bx-wrapper {
  position: relative;
}
.bx-controls-direction {
  position: absolute;
  width: 100%;
  font-weight: 300;
}
.bx-controls-direction .bx-prev,
.bx-controls-direction .bx-next {
  position: absolute;
  background: url(../img/control-sprite.png);
}
.spec-slider .bx-controls-direction {
  top: 13%;
  font-size: 60px;
}
.spec-slider .bx-controls-direction .bx-prev,
.spec-slider .bx-controls-direction .bx-next {
  width: 25px;
  height: 30px;
}
.spec-slider .bx-controls-direction .bx-prev {
  left: 0;
  background-position: 0 0;
}
.spec-slider .bx-controls-direction .bx-prev:hover {
  background-position: 0 -35px;
}
.spec-slider .bx-controls-direction .bx-next {
  right: 0;
  background-position: -30px 0;
}
.spec-slider .bx-controls-direction .bx-next:hover {
  background-position: -30px -35px;
}
.reviews-slider .bx-prev,
.reviews-slider .bx-next {
  width: 13px;
  height: 15px;
  background-size: 28px;
}
.reviews-slider .bx-prev {
  left: 0;
}
.reviews-slider .bx-prev:hover {
  background-position: 0 -18px;
}
.reviews-slider .bx-next {
  left: 20px;
  background-position: -15px 0;
}
.reviews-slider .bx-next:hover {
  background-position: -15px -18px;
}
/*------Dropzone----------*/
.dropzone,
.dropzone * {
  box-sizing: border-box;
}
.dropzone {
  position: relative;
}
.dropzone .dz-preview {
  position: relative;
  display: inline-block;
  width: 120px;
  margin: 0.5em;
  padding: 5px;
  background-color: #fff;
  border: 1px solid #ccc;
}
.dropzone .dz-preview img {
  width: 100%;
}
.dropzone .dz-preview .dz-progress {
  display: block;
  height: 15px;
  border: 1px solid #aaa;
}
.dropzone .dz-preview .dz-progress .dz-upload {
  display: block;
  height: 100%;
  width: 0;
  background: green;
}
.dropzone .dz-preview .dz-error-message {
  color: red;
  display: none;
}
.dropzone .dz-preview.dz-error .dz-error-message,
.dropzone .dz-preview.dz-error .dz-error-mark {
  display: block;
}
.dropzone .dz-preview.dz-success .dz-success-mark {
  display: block;
}
.dropzone .dz-preview .dz-error-mark,
.dropzone .dz-preview .dz-success-mark {
  position: absolute;
  display: none;
  left: 30px;
  top: 30px;
  width: 54px;
  height: 58px;
  left: 50%;
  margin-left: -27px;
}
.dz-message {
  width: 290px;
}
.data-dz-name {
  word-wrap: break-word;
}
.preloader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  z-index: 99999;
}
.preloader img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.content {
  margin-top: 60px;
  margin-bottom: 60px;
}
.main-menu {
  padding-top: 35px;
}
.main-menu li {
  margin: 10px 25px 10px 0;
}
.main-menu li.active a {
  text-transform: uppercase;
}
.main-menu li.active a,
.main-menu li:hover a {
  color: #3a638f;
}
.main-menu a {
  margin-bottom: 30px;
  color: #212121;
  text-transform: uppercase;
}
.left-menu {
  margin-top: 0px;
}
.left-menu li {
  margin-bottom: 20px;
}
.left-menu li:last-child {
  margin-bottom: 0;
}
.left-menu li a {
  color: #6c96c3;
}
.left-menu li a:hover {
  color: #3a638f;
  border-bottom-color: inherit;
}
.left-menu li.active a {
  color: #3a638f;
}
.row-menu {
  margin-bottom: 40px;
}
.sub-menu li {
  margin-bottom: 10px;
}
.sub-menu li a {
  color: #3a638f;
}
.sub-menu li a:hover {
  color: #000000;
}
.row-menu li {
  margin-right: 30px;
}
.row-menu li:last-child {
  margin-right: 0;
}
.row-menu a {
  color: #3a638f;
  font-size: 16px;
  border-bottom: 1px dashed #3a638f;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  text-decoration: none;
}
.row-menu a:hover {
  border-bottom-color: transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.one-news {
  position: relative;
  margin-bottom: 60px;
}
.one-news:hover .link {
  border-bottom-color: transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.one-news .link-news {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}
.one-news .data {
  margin: 0;
  color: #a4a4a4;
  font-size: 12px;
}
.one-news .img-prev {
  padding-right: 60px;
}
.one-news img {
  width: 63px;
  height: 63px;
  border-radius: 50%;
}
.block-callus__bot {
  margin-top: 10px;
}
.news-inside {
  margin-bottom: 75px;
}
.news-inside img {
  float: left;
  margin-top: 10px;
  padding-right: 30px;
  padding-bottom: 30px;
}
.entered {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.entered h4 {
  margin: 0 0 20px 0;
}
.entered .block-window {
  padding: 25px 55px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.16);
  border-radius: 10px;
}
.entered .block-window .field {
  width: 100%;
  margin: 15px 0;
  padding: 10px 0;
  color: #fff;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid #fff;
  border-left: none;
  background: none;
  /* Firefox 19+ */
  /* Firefox 18- */
}
.entered .block-window .field::-webkit-input-placeholder {
  color: #fff;
}
.entered .block-window .field::-moz-placeholder {
  color: #fff;
}
.entered .block-window .field:-moz-placeholder {
  color: #fff;
}
.entered .block-window .field:-ms-input-placeholder {
  color: #fff;
}
.entered .block-window .field-sbmt {
  margin-top: 30px;
}
.entered .block-window .field-sbmt input {
  width: 30%;
}
.diagnosis {
  margin-bottom: 80px;
}
.diagnosis .col-6 {
  position: relative;
}
.diagnosis .link-angle {
  display: inline-block;
  margin-top: 20px;
}
.diagnosis .col-6:first-child {
  padding-right: 10px;
}
.diagnosis .col-6:last-child {
  padding-left: 10px;
}
.diagnosis.col-6:hover .link-angle {
  text-decoration: underline;
}
.treatment-item__img {
  display: inline-block;
  width: 86px;
  height: 86px;
  margin-right: 30px;
  background-position: 0 0;
  vertical-align: middle;
}
.treatment-item:hover .treatment-item__img {
  background-position: 0 100%;
}
.treatment-item:hover .treatment-item__tx {
  color: #1e5171;
}
.treatment .row {
  margin-bottom: 60px;
}
.treatment a {
  display: inline-block;
  font-weight: 700;
  text-decoration: none;
}
.partners {
  padding-bottom: 90px;
}
.partners .col-9 {
  font-weight: 300;
}
.services .row {
  min-height: 300px;
}
.services .row:last-of-type {
  margin-bottom: 60px;
}
.services .row .col-7,
.services .row .col-5 {
  height: 100%;
}
/*--PRICES--*/
.table-price {
  width: 100%;
}
.procedure-name {
  text-align: center;
  background-color: #fff;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.table-row_white {
  background-color: #fff!important;
}
.table-row_gray {
  background-color: #ededed!important;
}
.table-price tr:not(.procedure-name) {
  padding: 10px 0 30px 0;
}
.table-price tr:not(.procedure-name) td,
.table-price th {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 30px;
  padding-left: 10px;
  text-align: left;
}
.table-price tr:nth-child(odd) {
  background-color: #ededed;
}
.table-price td:nth-child(2),
.table-price td:nth-child(3) {
  font-size: 13px;
}
.table-price tr td:nth-child(6) {
  text-align: center!important;
}
/*---INDEX--*/
.sub_text {
  padding: 20px 0;
  margin: 0;
}
.tx-val {
  margin-top: 160px;
  margin-bottom: 50px;
}
.reviews-slider {
  margin-top: 4px;
}
.our-specialist {
  background: url(../img/bg-spec.jpg) no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.spec-slider img {
  width: 141px;
  height: 141px;
  border-radius: 50%;
}
.spec-slider li p {
  width: 310px;
}
.all-spec {
  margin: 75px 0 0 0;
}
.bg-instr {
  padding: 140px 0 70px 0;
  background: url(../img/bg-instr.jpg) no-repeat;
  background-size: cover;
}
.field {
  margin: 10px 0;
}
.field:last-child {
  margin-bottom: 0;
}
.field:focus {
  border: 1px solid #043555;
}
/*----ABOUT-CENTER----*/
.bg-about {
  background: url(../img/bg-big.jpg) repeat-y;
  background-size: cover;
}
.about {
  padding-top: 40px;
  padding-bottom: 40px;
}
.about .row {
  margin-top: 80px;
  margin-bottom: 80px;
}
.about .row:last-child {
  margin-top: 150px;
}
.vacancy {
  padding-top: 40px;
  padding-bottom: 80px;
}
.vacancy img {
  margin-top: 38px;
}
.vacancy .col-6 {
  padding-right: 20px;
}
/*----diagnost-inside---*/
.block-di__user-img {
  float: left;
  margin-right: 40px;
  margin-bottom: 20px;
}
.di-article {
  margin-right: 40px;
  vertical-align: middle;
}
.di-menu {
  vertical-align: baseline;
}
.di-menu li {
  margin-right: 40px;
  margin-bottom: 20px;
}
.di-menu li:last-child {
  margin-right: 0;
}
.di-menu .link {
  text-decoration: none;
}
/*-----3D--------*/
.vertical-list li {
  display: inline-block;
  width: 100%;
  list-style: none;
  margin: 0;
}
.vertical-list li a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.vertical-list li a::before {
  content: '';
  float: left;
  display: inline-block;
  width: 10px;
  height: 28px;
  margin-right: 10px;
  background: url(../img/vertical-list.png) no-repeat;
  background-position: -12px -28px;
}
.vertical-list li a:hover::before {
  content: '';
  background-position: 1px -28px;
}
.vertical-list li:first-child a::before {
  content: '';
  background-position: -12px 5px;
}
.vertical-list li:first-child a:hover::before {
  content: '';
  background-position: 1px 5px;
}
.vertical-list li:last-child a::before {
  content: '';
  background-position: -12px -61px;
}
.vertical-list li:last-child a:hover::before {
  content: '';
  background-position: 1px -61px;
}
/*---------services-inside--------*/
/*--------personal-cabinet---------*/
.insider {
  position: relative;
  min-height: 800px;
}
.block-person {
  margin-top: 90px;
  margin-bottom: 80px;
}
.block-person .profile-block {
  height: 630px;
  padding-top: 50px;
  color: #fff;
  background-color: #315478;
}
.block-person .profile-block .edit {
  display: inline-block;
  width: 100%;
  height: 80px;
  padding-top: 30px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #35577b;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.block-person .profile-block .edit:hover {
  background-color: #263e57;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.block-person .profile-block .edit i {
  display: inline-block;
  width: 19px;
  height: 19px;
  background: url(../img/fs-pen.png) no-repeat;
  margin-right: 10px;
  vertical-align: middle;
}
.block-person .user-block {
  height: 500px;
  padding-right: 60px;
  padding-left: 60px;
}
.block-person .user-block__img {
  width: 62px;
  height: 62px;
  margin-bottom: 20px;
  border-radius: 50%;
}
.block-person .content-block {
  height: 630px;
  background-color: #fafafa;
  overflow: hidden;
}
.block-person .content-block .row-item {
  min-height: 210px;
  border-bottom: 1px solid #d3e4ed;
}
.block-person .content-block .row-item:nth-of-type(3) {
  border-bottom: none;
}
.block-person .img-block {
  position: relative;
  min-height: 210px;
  padding-right: 60px;
  padding-left: 60px;
  background-color: #d3e4f4;
}
.block-person .info-block {
  position: relative;
  min-height: 210px;
  padding-top: 60px;
  padding-right: 60px;
  padding-left: 60px;
}
.block-person .info-block::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -39px;
  border: 17px solid transparent;
  border-right: 22px solid #fafafa;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.block-person .row-js {
  position: relative;
  min-height: 420px;
  padding: 40px;
}
.block-person .row-js .botlink {
  position: absolute;
  bottom: 25px;
  font-size: 12px;
}
.block-person .row-js .botlink_right {
  right: 40px;
}
.block-person .row-js .botlink_left {
  left: 40px;
}
.block-person .analyzes {
  height: 630px;
  background-color: #fafafa;
}
.block-person .analyzes ul {
  height: 425px;
  overflow: auto;
}
.block-person .analyzes li {
  margin-bottom: 20px;
}
.block-person .analyzes li:last-child {
  margin-bottom: 0;
}
.block-person .analyzes li a {
  position: relative;
  margin-left: 20px;
}
.block-person .analyzes li a::before {
  content: '';
  position: absolute;
  left: -20px;
  bottom: 0;
  display: inline-block;
  width: 8px;
  height: 16px;
  background: url(../img/fs-download.png) no-repeat;
  background-position: 50%;
}
.block-person .dropzone {
  width: 100%;
  height: 280px;
  border: 2px dashed #d3e4ed;
  overflow: scroll;
}
/***/
.block-chat__window {
  height: 250px;
  overflow-y: scroll;
}
.block-chat__window__row {
  position: relative;
}
.block-chat__window__row .block-chat__window__cloud__wrap_md {
  background-color: #dce7f2;
}
.block-chat__window__row .block-chat__window__cloud__wrap_md::after {
  left: 10px;
  border-top-color: #dce7f2;
  border-right-width: 12px;
  border-right-style: solid;
  border-right-color: transparent;
}
.block-chat__window__row .block-chat__window__cloud__wrap_user {
  background-color: #e5e5e5;
}
.block-chat__window__row .block-chat__window__cloud__wrap_user::after {
  right: 10px;
  border-top-color: #e5e5e5;
  border-left-width: 12px;
  border-left-style: solid;
  border-left-color: transparent;
}
.block-chat__window__date {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 20px;
}
.block-chat__window__date p {
  margin: 0;
  color: #2e2e2e;
  font-size: 10px;
}
.block-chat__window__cloud {
  padding: 10px;
}
.block-chat__window__cloud__wrap {
  position: relative;
  min-height: 70px;
  padding: 10px;
  border-radius: 10px;
}
.block-chat__window__cloud__wrap::after {
  content: '';
  position: absolute;
  bottom: -12px;
  display: block;
  width: 0;
  height: 0;
  border-top-width: 12px;
  border-top-style: solid;
}
.block-chat__window__cloud__wrap p {
  margin: 0;
}
.block-chat__window__cloud__wrap span {
  color: #315478;
  font-size: 10px;
}
.block-chat__user-tx {
  float: left;
  width: 380px;
  margin-right: 20px;
  border: 1px solid #5b87b3;
}
.block-chat__user-btn {
  padding-top: 8px;
  padding-bottom: 8px;
}
.block-chat__message {
  margin-top: 30px;
}
.block-reviews__item {
  margin-bottom: 40px;
}
.block-reviews__item:last-child {
  margin-bottom: 120px;
}
.block-reviews__item:nth-child(odd) .block-reviews__item__img {
  text-align: left;
}
.block-reviews__item:nth-child(even) .block-reviews__item__img {
  text-align: right;
}
.block-reviews__item__img img {
  width: 95px;
  height: 95px;
  border-radius: 50%;
}
.block-reviews h6 {
  margin: 0;
}
/**********/
.block-specs__item {
  margin-top: 60px;
  margin-bottom: 60px;
}
.block-specs__item h6 {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
}
.block-specs__item p {
  margin: 0;
}
.block-specs__item__img img {
  width: 112px;
  height: 112px;
  border-radius: 50%;
}
.block-specs__department {
  margin-top: 80px;
  margin-bottom: 80px;
  text-align: left;
  text-transform: uppercase;
}
.block-specs__department h6 {
  margin: 0;
}
/******/
.block-vacancy {
  margin-bottom: 40px;
}
.block-vacancy__name {
  margin-bottom: 10px;
}
.block-vacancy__item {
  margin-bottom: 60px;
}
.block-vacancy p:not(.block-vacancy__about) {
  margin: 0;
}
.block-vacancy__about {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #3a638f;
}
.block-vacancy span {
  font-weight: 700;
}
/******/
.block-error {
  color: #fff;
  text-align: center;
}
/************/
@-webkit-keyframes animateimg {
  from {
    -webkit-transform: rotate(0deg) translateX(5px) rotate(0deg) perspective(100px) rotate3d(0, -1, 0, -3deg);
            transform: rotate(0deg) translateX(5px) rotate(0deg) perspective(100px) rotate3d(0, -1, 0, -3deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(5px) rotate(-360deg) perspective(100px) rotate3d(0, -1, 0, -3deg);
            transform: rotate(360deg) translateX(5px) rotate(-360deg) perspective(100px) rotate3d(0, -1, 0, -3deg);
  }
}
@keyframes animateimg {
  from {
    -webkit-transform: rotate(0deg) translateX(5px) rotate(0deg) perspective(100px) rotate3d(0, -1, 0, -3deg);
            transform: rotate(0deg) translateX(5px) rotate(0deg) perspective(100px) rotate3d(0, -1, 0, -3deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(5px) rotate(-360deg) perspective(100px) rotate3d(0, -1, 0, -3deg);
            transform: rotate(360deg) translateX(5px) rotate(-360deg) perspective(100px) rotate3d(0, -1, 0, -3deg);
  }
}
@-webkit-keyframes animatespan {
  from {
    -webkit-transform: rotate(0deg) translateX(-5px) rotate(0deg) perspective(100px) rotate3d(0, -1, 0, -3deg);
            transform: rotate(0deg) translateX(-5px) rotate(0deg) perspective(100px) rotate3d(0, -1, 0, -3deg);
  }
  to {
    -webkit-transform: rotate(-360deg) translateX(-5px) rotate(360deg) perspective(100px) rotate3d(0, -1, 0, -3deg);
            transform: rotate(-360deg) translateX(-5px) rotate(360deg) perspective(100px) rotate3d(0, -1, 0, -3deg);
  }
}
@keyframes animatespan {
  from {
    -webkit-transform: rotate(0deg) translateX(-5px) rotate(0deg) perspective(100px) rotate3d(0, -1, 0, -3deg);
            transform: rotate(0deg) translateX(-5px) rotate(0deg) perspective(100px) rotate3d(0, -1, 0, -3deg);
  }
  to {
    -webkit-transform: rotate(-360deg) translateX(-5px) rotate(360deg) perspective(100px) rotate3d(0, -1, 0, -3deg);
            transform: rotate(-360deg) translateX(-5px) rotate(360deg) perspective(100px) rotate3d(0, -1, 0, -3deg);
  }
}
.search-field {
  font-size: 16px;
  border: none;
}
.search-field:hover,
.search-field:focus {
  border-top: none!important;
  border-right: none!important;
  border-bottom: none!important;
  border-left: none!important;
}
.field-price-search {
  position: relative;
  display: inline-block;
  padding-top: 12px;
}
.field-price-search::after {
  content: '';
  position: absolute;
  bottom: -1px;
  right: 0;
  width: calc(100% - 40px);
  border-bottom: 1px solid #3a638f;
}
.field-price-search input {
  display: inline-block;
  width: 240px;
  height: 27px;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 40px;
  background-image: url(../img/search.png);
  background-position: 0 0;
  background-repeat: no-repeat;
}
.contacts li {
  margin-left: 0;
}
.contacts p {
  padding-left: 0px;
}
.contacts p a {
  text-decoration: none;
}
.form-group.field-price-search span {
  width: 40px;
}
.form-group.field-price-search input {
  padding-right: 0;
  padding-left: 40px;
}
.field-sbmt .link_wbbn.link {
  margin-top: 5px;
  margin-right: 20px;
  text-decoration: none;
}
/******************GRID PARAMETRS**********/
* {
  box-sizing: border-box;
}
.container {
  width: 960px;
  margin-right: auto;
  margin-left: auto;
}
html,
body {
  height: 100%;
  width: 100%;
  display: inline-block;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -84px;
}
.pre-footer,
footer {
  height: 84px;
}
.col-12 {
  width: 100%;
}
.col-11 {
  width: 91.66666667%;
}
.col-10 {
  width: 83.33333333%;
}
.col-9 {
  width: 75%;
}
.col-8 {
  width: 66.66666667%;
}
.col-7 {
  width: 58.33333333%;
}
.col-6 {
  width: 50%;
}
.col-5 {
  width: 41.66666667%;
}
.col-4 {
  width: 33.33333333%;
}
.col-3 {
  width: 25%;
}
.col-2 {
  width: 16.66666667%;
}
.col-1 {
  width: 8.33333333%;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11 {
  float: left;
  min-height: 1px;
}
.offset-col-1 {
  margin-left: 8.33333333%;
}
.offset-col-2 {
  margin-left: 16.66666667%;
}
.offset-col-3 {
  margin-left: 25%;
}
.offset-col-4 {
  margin-left: 33.33333333%;
}
.offset-col-5 {
  margin-left: 41.66666667%;
}
.width-col-12 {
  width: 100%;
}
.width-col-8 {
  width: 66.66666667%;
}
.width-col-7 {
  width: 58.33333333%;
}
.width-col-6 {
  width: 50%;
}
.width-col-5 {
  width: 41.66666667%;
}
.width-col-4 {
  width: 33.33333333%;
}
.width-col-3 {
  width: 25%;
}
.width-col-2 {
  width: 16.66666667%;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
header::after,
.top::after,
.container::after,
.row::after,
.clearfix::after,
.main::after,
footer::after {
  content: '';
  display: block;
  height: 0;
  clear: both;
}
.inline-block {
  display: inline-block;
}
.centredY {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.centredX {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.centredXY {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.relative {
  position: relative;
}
.m-none {
  margin: 0;
}
.p-none {
  padding: 0;
}
.hidden {
  display: none;
}
.push-top {
  padding-top: 70px;
}
/********TEMPLATE*********/
.danger {
  color: #c62a2a;
}
.bg-pic-blue {
  background: url(../img/bg-personal-cabinet.jpg);
  background-size: cover;
}
.bg-lighten {
  background-color: #fafafa;
}
input:not([type="submit"]),
textarea {
  padding: 10px;
}
input:not([type="submit"]).field,
textarea.field {
  border-top: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  border-left: 1px solid #e2e2e2;
}
input:not([type="submit"]):last-child,
textarea:last-child {
  margin-bottom: 0;
}
input:not([type="submit"]):focus,
textarea:focus {
  border-top: 1px solid #043555;
  border-right: 1px solid #043555;
  border-bottom: 1px solid #043555;
  border-left: 1px solid #043555;
}
.border-field {
  border: 1px solid #3a638f;
}
.fs-mr {
  margin-right: 20px;
}
.fs-search {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(../img/search.png) no-repeat;
  vertical-align: bottom;
}
.mt-30 {
  margin-top: 30px;
}
/*********TYPOGRAPHY**********/
body {
  color: #212121;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}
h1,
.h1 {
  font-size: 40px;
}
h2,
.h2 {
  font-size: 36px;
}
h3,
.h3 {
  font-size: 30px;
}
h4,
.h4 {
  font-size: 24px;
}
h5,
.h5 {
  font-size: 20px;
}
h6,
.h6 {
  font-size: 18px;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: 300;
}
h6.small,
.h6.small {
  font-size: 13px;
}
p {
  padding-top: 1px;
  margin: 15px 0;
  line-height: 26px;
}
.smaller {
  font-size: 12px;
}
a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: color 1s;
  transition: color 1s;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center!important;
}
.text-smaller {
  font-size: 12px;
}
ul,
ol,
dl {
  margin: 0;
  padding: 0;
}
ul.list-unstyled li {
  list-style: none;
}
ul.list-inline li {
  display: inline-block;
}
.list-plus {
  margin: 20px 0 50px;
}
.list-plus li {
  line-height: 22px;
}
.list-plus li::before {
  content: '+';
  margin-right: 20px;
}
.colored {
  color: #3a638f;
}
.colored-h {
  color: #043555;
}
.bold {
  font-weight: 700;
}
.reg {
  font-weight: 400;
}
/*********GENERAL*********/
input,
textarea {
  border: 1px solid transparent;
  outline: none;
}
input:focus,
textarea:focus {
  outline: none;
}
textarea {
  resize: none;
}
a {
  color: inherit;
  text-decoration: underline;
}
a:hover {
  color: #3a638f;
}
.btn {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.btn:hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.btn-main {
  min-width: 130px;
  padding: 5px 15px;
  line-height: 22px;
  background: none;
}
.btn-main_brd {
  border: 1px solid #3a638f;
  color: #3a638f;
}
.btn-main_brd:hover {
  color: #fff;
  background: #3a638f;
}
.btn-main_wbrd {
  border: 1px solid #fff;
  color: #fff;
}
.btn-main_wbrd:hover {
  color: #3a638f;
  background: #fff;
}
.btn-main_dark {
  color: #fff;
  background-color: #3a638f;
}
.btn-main_dark:hover {
  color: #fff;
  background-color: #2b4a6b;
}
.link {
  display: inline-block;
  color: #3a638f;
  text-decoration: underline;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 2;
}
.link:hover {
  color: #497cb3;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.link_white {
  color: #fff;
  border-bottom-color: #fff;
}
.link_white:hover {
  border-bottom-color: transparent;
}
.link_gray {
  color: #212121;
}
.link_gray:hover {
  color: #3a638f;
}
.link_bbn {
  border-bottom: none;
}
.link_bbn:hover {
  color: #6c96c3;
}
.link_wbbn {
  color: #fff;
}
.link_wbbn:hover {
  color: #b4cae1;
}
.link-angle {
  position: relative;
  margin-right: 30px;
  color: #3a638f;
  border-bottom-width: 1px;
  text-decoration: none;
  border-bottom-style: solid;
  border-bottom-color: transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 2;
}
.link-angle::before {
  content: '►';
  position: absolute;
  right: -25px;
  bottom: 1px;
  padding: 3px 4px;
  color: #fff;
  font-size: 7px;
  line-height: 8px;
  background-color: #296E99;
}
.link-angle:hover {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: inherit;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.link-angle_white::before {
  content: '►';
  color: #296E99;
  font-size: 10px;
  background-color: transparent;
}
.link-angle_light {
  content: '►';
  color: #fff;
  border-bottom: 1px solid #fff;
}
.link-angle_light::before {
  content: '►';
  color: #fff;
  background-color: transparent;
  border-bottom-color: #fff;
}
.link-angle_light:hover {
  border-bottom-color: transparent;
}
.video-link {
  display: inline-block;
  min-width: 100px;
  padding-top: 10px;
  padding-right: 25px;
  padding-bottom: 10px;
  padding-left: 25px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 50px;
  background-color: #296E99;
  -webkit-transition: background 1s, color 1s;
  transition: background 1s, color 1s;
}
.video-link:hover {
  color: #e6e6e6;
  background-color: #1e5171;
}
.ask-call::before {
  content: '';
  display: inline-block;
  width: 31px;
  height: 32px;
  background: url(../img/fs-phone.png) no-repeat;
  vertical-align: middle;
}
.wrap-a {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.more a {
  display: block;
  width: 100%;
  padding: 50px 0;
  color: #000;
  background-color: #f0f0f0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.more a:hover {
  background-color: #d7d7d7;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.simp-block {
  padding: 85px 0 45px 0;
}
.simp-block_bot {
  padding-top: 20px;
  padding-bottom: 90px;
}
.simp-block_mid {
  position: relative;
  top: 50%;
  padding-bottom: 40px;
}
ul.list-unstyled li {
  margin-left: 0;
}
ul li {
  margin-left: 20px;
}
ul ul li {
  margin-left: 20px;
  list-style-type: none;
}
ul ul li::before {
  content: '-';
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}
#login-form input:not([type="submit"]) {
  outline: none;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #fff;
  border-left: 0;
}
#login-form input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px rgba(82, 139, 178, 0.95) !important;
  /* Цвет фона */
  -webkit-text-fill-color: #fff !important;
  /* цвет текста */
  color: #fff !important;
  /* цвет текста */
}
