/******************GRID PARAMETRS**********/
* {
  box-sizing: border-box;
}
.container {
  width: 960px;
  margin-right: auto;
  margin-left: auto;
}
html,
body {
  height: 100%;
  width: 100%;
  display: inline-block;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -84px;
}
.pre-footer,
footer {
  height: 84px;
}
.col-12 {
  width: 100%;
}
.col-11 {
  width: 91.66666667%;
}
.col-10 {
  width: 83.33333333%;
}
.col-9 {
  width: 75%;
}
.col-8 {
  width: 66.66666667%;
}
.col-7 {
  width: 58.33333333%;
}
.col-6 {
  width: 50%;
}
.col-5 {
  width: 41.66666667%;
}
.col-4 {
  width: 33.33333333%;
}
.col-3 {
  width: 25%;
}
.col-2 {
  width: 16.66666667%;
}
.col-1 {
  width: 8.33333333%;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11 {
  float: left;
  min-height: 1px;
}
.offset-col-1 {
  margin-left: 8.33333333%;
}
.offset-col-2 {
  margin-left: 16.66666667%;
}
.offset-col-3 {
  margin-left: 25%;
}
.offset-col-4 {
  margin-left: 33.33333333%;
}
.offset-col-5 {
  margin-left: 41.66666667%;
}
.width-col-12 {
  width: 100%;
}
.width-col-8 {
  width: 66.66666667%;
}
.width-col-7 {
  width: 58.33333333%;
}
.width-col-6 {
  width: 50%;
}
.width-col-5 {
  width: 41.66666667%;
}
.width-col-4 {
  width: 33.33333333%;
}
.width-col-3 {
  width: 25%;
}
.width-col-2 {
  width: 16.66666667%;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
header::after,
.top::after,
.container::after,
.row::after,
.clearfix::after,
.main::after,
footer::after {
  content: '';
  display: block;
  height: 0;
  clear: both;
}
.inline-block {
  display: inline-block;
}
.centredY {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.centredX {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.centredXY {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.relative {
  position: relative;
}
.m-none {
  margin: 0;
}
.p-none {
  padding: 0;
}
.hidden {
  display: none;
}
.push-top {
  padding-top: 70px;
}
/********TEMPLATE*********/
.danger {
  color: #c62a2a;
}
.bg-pic-blue {
  background: url(../img/bg-personal-cabinet.jpg);
  background-size: cover;
}
.bg-lighten {
  background-color: #fafafa;
}
input:not([type="submit"]),
textarea {
  padding: 10px;
}
input:not([type="submit"]).field,
textarea.field {
  border-top: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  border-left: 1px solid #e2e2e2;
}
input:not([type="submit"]):last-child,
textarea:last-child {
  margin-bottom: 0;
}
input:not([type="submit"]):focus,
textarea:focus {
  border-top: 1px solid #043555;
  border-right: 1px solid #043555;
  border-bottom: 1px solid #043555;
  border-left: 1px solid #043555;
}
.border-field {
  border: 1px solid #3a638f;
}
.fs-mr {
  margin-right: 20px;
}
.fs-search {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(../img/search.png) no-repeat;
  vertical-align: bottom;
}
.mt-30 {
  margin-top: 30px;
}
/*********TYPOGRAPHY**********/
body {
  color: #212121;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}
h1,
.h1 {
  font-size: 40px;
}
h2,
.h2 {
  font-size: 36px;
}
h3,
.h3 {
  font-size: 30px;
}
h4,
.h4 {
  font-size: 24px;
}
h5,
.h5 {
  font-size: 20px;
}
h6,
.h6 {
  font-size: 18px;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: 300;
}
h6.small,
.h6.small {
  font-size: 13px;
}
p {
  padding-top: 1px;
  margin: 15px 0;
  line-height: 26px;
}
.smaller {
  font-size: 12px;
}
a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: color 1s;
  transition: color 1s;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center!important;
}
.text-smaller {
  font-size: 12px;
}
ul,
ol,
dl {
  margin: 0;
  padding: 0;
}
ul.list-unstyled li {
  list-style: none;
}
ul.list-inline li {
  display: inline-block;
}
.list-plus {
  margin: 20px 0 50px;
}
.list-plus li {
  line-height: 22px;
}
.list-plus li::before {
  content: '+';
  margin-right: 20px;
}
.colored {
  color: #3a638f;
}
.colored-h {
  color: #043555;
}
.bold {
  font-weight: 700;
}
.reg {
  font-weight: 400;
}
/*********GENERAL*********/
input,
textarea {
  border: 1px solid transparent;
  outline: none;
}
input:focus,
textarea:focus {
  outline: none;
}
textarea {
  resize: none;
}
a {
  color: inherit;
  text-decoration: underline;
}
a:hover {
  color: #3a638f;
}
.btn {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.btn:hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.btn-main {
  min-width: 130px;
  padding: 5px 15px;
  line-height: 22px;
  background: none;
}
.btn-main_brd {
  border: 1px solid #3a638f;
  color: #3a638f;
}
.btn-main_brd:hover {
  color: #fff;
  background: #3a638f;
}
.btn-main_wbrd {
  border: 1px solid #fff;
  color: #fff;
}
.btn-main_wbrd:hover {
  color: #3a638f;
  background: #fff;
}
.btn-main_dark {
  color: #fff;
  background-color: #3a638f;
}
.btn-main_dark:hover {
  color: #fff;
  background-color: #2b4a6b;
}
.link {
  display: inline-block;
  color: #3a638f;
  text-decoration: underline;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 2;
}
.link:hover {
  color: #497cb3;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.link_white {
  color: #fff;
  border-bottom-color: #fff;
}
.link_white:hover {
  border-bottom-color: transparent;
}
.link_gray {
  color: #212121;
}
.link_gray:hover {
  color: #3a638f;
}
.link_bbn {
  border-bottom: none;
}
.link_bbn:hover {
  color: #6c96c3;
}
.link_wbbn {
  color: #fff;
}
.link_wbbn:hover {
  color: #b4cae1;
}
.link-angle {
  position: relative;
  margin-right: 30px;
  color: #3a638f;
  border-bottom-width: 1px;
  text-decoration: none;
  border-bottom-style: solid;
  border-bottom-color: transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 2;
}
.link-angle::before {
  content: '►';
  position: absolute;
  right: -25px;
  bottom: 1px;
  padding: 3px 4px;
  color: #fff;
  font-size: 7px;
  line-height: 8px;
  background-color: #296E99;
}
.link-angle:hover {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: inherit;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.link-angle_white::before {
  content: '►';
  color: #296E99;
  font-size: 10px;
  background-color: transparent;
}
.link-angle_light {
  content: '►';
  color: #fff;
  border-bottom: 1px solid #fff;
}
.link-angle_light::before {
  content: '►';
  color: #fff;
  background-color: transparent;
  border-bottom-color: #fff;
}
.link-angle_light:hover {
  border-bottom-color: transparent;
}
.video-link {
  display: inline-block;
  min-width: 100px;
  padding-top: 10px;
  padding-right: 25px;
  padding-bottom: 10px;
  padding-left: 25px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 50px;
  background-color: #296E99;
  -webkit-transition: background 1s, color 1s;
  transition: background 1s, color 1s;
}
.video-link:hover {
  color: #e6e6e6;
  background-color: #1e5171;
}
.ask-call::before {
  content: '';
  display: inline-block;
  width: 31px;
  height: 32px;
  background: url(../img/fs-phone.png) no-repeat;
  vertical-align: middle;
}
.wrap-a {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.more a {
  display: block;
  width: 100%;
  padding: 50px 0;
  color: #000;
  background-color: #f0f0f0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.more a:hover {
  background-color: #d7d7d7;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.simp-block {
  padding: 85px 0 45px 0;
}
.simp-block_bot {
  padding-top: 20px;
  padding-bottom: 90px;
}
.simp-block_mid {
  position: relative;
  top: 50%;
  padding-bottom: 40px;
}
ul.list-unstyled li {
  margin-left: 0;
}
ul li {
  margin-left: 20px;
}
ul ul li {
  margin-left: 20px;
  list-style-type: none;
}
ul ul li::before {
  content: '-';
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}
#login-form input:not([type="submit"]) {
  outline: none;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #fff;
  border-left: 0;
}
#login-form input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px rgba(82, 139, 178, 0.95) !important;
  /* Цвет фона */
  -webkit-text-fill-color: #fff !important;
  /* цвет текста */
  color: #fff !important;
  /* цвет текста */
}
