.fs-skype_white {
	position: relative;
	margin-left: 25px;
	&::before {
		content: '';
		position: absolute;
		left: -25px;
		bottom: 4px;
		display: inline-block;
		width: 19px;
		height: 19px;
		background: url(../img/fs-skype_white.png);
	}
}

.call-skype {
	&::before {
		content: '';
		display: inline-block;
		width: 27px;
		height: 27px;
		margin-right: 10px;
		background: url(../img/fs-skype.png) no-repeat;
		vertical-align: middle;
	}
}

.b-exit {
	position: relative;
	margin-left: 25px;
	&::before {
		content: '';
		position: absolute;
		left: -25px;
		display: inline-block;
		width: 12px;
		height: 18px;
		background: url(../img/fs-exit.png) no-repeat;
		vertical-align: middle;
	}
}

/*************/
.bg-eyes {
	background-image: url(../img/bg-eyes.jpg);
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
}

.bg-error {
	background-color: #2f5682;
}

.bg-partners {
	background: url(../img/bg-partners.jpg) no-repeat, #224A63;
	border-top: 1px solid @clr_main;
	background-size: 100% auto;
}

.bg-cabinet {
	background: url(../img/bg-cabinet.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	border: 1px solid transparent;
}

.bg-darken {
	background-color: #224A63;
	color: #fff;
	.main-menu  {
		a {
			color: #fff;
			&:hover {
				color: darken(#fff, 20%);
			}
		}
		.active a {
			text-decoration: none;
			color: darken(#fff, 20%);
		}
	}
	a {
		&:hover {
			color: darken(#fff, 20%);
		}
	}
}

.bg-index {
	background-image: url(../img/bg-index.jpg);
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-color: #05577E;
	overflow: hidden;
}