header {
	padding: 14px 0;
	color: #fff;
	background-color: @clr_main;
	.question{
		position: relative;
		margin-left: 30px;
			&::before {
				content:'?';
				position: absolute;
				top: -2px;
				left: -30px;
				width: 9px;
				height: 20px;
				padding: 1px 7px;
				line-height: 20px;
				border: 1px solid #fff;
				border-radius: 50%;
				transition: background 0.5s;
			}
			&:hover {
				&::before {
					color: @clr_tx;
					background: #fff;
					transition: background 0.5s;
				}
			}
	}
	.exit {
		position: relative;
		margin-left: 20px;
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: -20px;
			width: 12px;
			height: 18px;
			background: url(../img/fs-exit.png);
		}
	}
	a {
		color: #fff;
		text-decoration: none;
		&:hover {
			color: lighten(@clr_main, 40%);
			&::before {
				text-decoration: none;
			}
		}
	}
}

.top {
	margin: 35px 0 75px 0;
}

/*------FOOTER-------*/
footer {
	position: relative;
	height: 84px;
	padding: 16px 0;
	color: #ece6e9;
	background-color: #212121;
	z-index: 1;
		div {
			height: 50px;
			display: table;
			.table-cell {
				display: table-cell;
				vertical-align: middle;
			}
		}
		a {
			color: inherit;
			font-size: 13px;
			line-height: 15px;
		}
		p {
			margin: 0;
			font-size: 13px;
		}
		.kamod-cr {
			position: relative;
			padding-left: 35px;
			text-decoration: none;
			&::before {
			content:'';
			position: absolute;
			top: 50%;
			-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			transform: translateY(-50%);
			left: 0;
			display: inline-block;
			width: 23px;
			height: 26px;
			background: url(../img/sprites.png);
			background-position: 0 0;
			}
			&:hover {
				color: @clr_tx;
				&:before {
					background-position: 0 -30px;
				}
			}
		}
}