/*--______MAP--_____*/
.mapping {
	color: #fff;
	background-color: @clr_main;
	.blue-block {
		position: relative;
		float: left;
		width: 42.1875%;
		height: 600px;
		min-width: 330px;
		.contacts {
			position: absolute;
			right: 0;
			width: 332px;
			padding-right: 60px;
			background-color: @clr_main;
			h3 {
				margin-bottom: 20px;
			}
			ul {
				list-style-type: none;
 				margin-bottom: 30px;
 				li {
 					line-height: 24px;
					font-weight: 300;
					a {
						color: #fff;
						text-decoration: none;
						&:hover {
							color: #fff;
						}
					}
 				}
			}
		}
	}
	#map_canvas {
		float: left;
		width: 57.8125%;
		height: 600px;
	}
	h3 {
		margin: 0;
	}
	p {
		font-weight: 300;
	}
}