/*-------Modal Windows--------*/
.modal-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: fade(@clr_main,100%);
	overflow: hidden;
	z-index: 990;
}

.box-modal {
	position: absolute;
	left: 50%;
	top: 50%;
	padding: 30px;
	background-color: #fff;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	z-index: 999;
	&__close {
		font-size: 12px;
		color: #212121;
		cursor: pointer;
	}
	&__content {
		padding: 30px;
	}
}

/**/
.question-modal__window, .call-modal__window {
	width: 450px;
	.fields-block {
		margin-top: 30px;
	}
	.border-field {
		margin-top: 15px;
		margin-bottom: 15px;
	}
	textarea {
		height: 150px;
	}
}

/*************/

.block-edit {
	width: 840px;
	h6 {
		margin-top: 0;
		font-size: 20px;
		font-weight: 700;
	}
	input:not([type="submit"]) {
		width: 100%;
		margin-bottom: 18px;
		border-top: 1px solid #888;
		border-right: 1px solid #888;
		border-bottom: 1px solid #888;
		border-left: 1px solid #888;
		font-size: 15px;
	}
	input[type="submit"] {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	&__send {
		margin-top: 30px;
	}
}

.fjs--mobmenu {
	position: fixed;
	top: 0;
	width: 100%;
	height: 50px;
	padding-top: 15px;
	background-color: @clr_main;
	opacity: 1;
	overflow: hidden;
	z-index: 9;
	-webkit-transition: opacity .7s, height .3s;
	-moz-transition: opacity .7s, height .3s;
	transition: opacity .7s, height .3s;
	will-change: opacity, height;
	&.invisible {
		opacity: 0;
		z-index: -1;
	}
	&.active {
		height: 250px;
		.fjs--mobmenu__content {
			opacity: 1;
		}
	}
	.container {
		position: relative;
	}
	&__close {
		position: absolute;
		top: -33px;
		right: 0;
		width: 20px;
		height: 20px;
		cursor: pointer;
		span {
			display: block;
			width: 100%;
			height: 1px;
			margin-bottom: 6px;
			background-color: #fff;
			-webkit-transition: transform .3s;
			-moz-transition: transform .3s;
			transition: transform .3s;
			will-change: transform;
			&.opened {
				&:nth-child(1) {
					position: absolute;
					top: 0;
					-webkit-transform: rotate(45deg);
					-moz-transform: rotate(45deg);
					-ms-transform: rotate(45deg);
					transform: rotate(45deg);
				}
				&:nth-child(2) {display: none;}
				&:nth-child(3) {
					-webkit-transform: rotate(-45deg);
					-moz-transform: rotate(-45deg);
					-ms-transform: rotate(-45deg);
					transform: rotate(-45deg);
				}
			}
		}
	}
	&__content {
		opacity: 0;
		-webkit-transition: opacity .5s;
		-moz-transition: opacity .5s;
		transition: opacity .5s;
	}
}

.iphone .fjs--img, .iphone .transition-block {
	-webkit-transform: none;
	-moz-transform:none;
	transform: none;
	img, span {
		animation: none;
		transform: none;
	}
}

.fjs--img {
	position: relative;
    img {
    	position: relative;
    	max-width: 100%;
    }
    img {
    	-webkit-transform: perspective(100px) rotate3d(0,-1,0,-3deg);
		-moz-transform: perspective(100px) rotate3d(0,-1,0,0deg);
    	transform: perspective(100px) rotate3d(0,-1,0,-3deg);
    	-webkit-transform-style: preserve-3d;
    	-webkit-backface-visibility: hidden;
    }
    .transition-block {
    	display: block;
    	position: absolute;
    	top: -15px;
    	left: 20px;
    	width: 100%;
    	height: 100%;
    	background-color: rgba(206,231,250,0.42);
    	-webkit-transform: perspective(100px) rotate3d(0,-1,0,-3deg);
		-moz-transform: perspective(100px) rotate3d(0,-1,0,0deg);
    	transform: perspective(100px) rotate3d(0,-1,0,-3deg);
    	-webkit-transform-style: preserve-3d;
    	-webkit-backface-visibility: hidden;
    }
}

.fjs--img img {
	animation: animateimg 10s infinite linear;
}

.fjs--img span {
	animation: animatespan 10s infinite linear;
}

.fjs--prices-search {
  position: absolute;
  top: 290px;
  left: 0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fff;
  &_fixed {
  	position: fixed;
  	top: 50px;
  }
}

.video-block {
	margin-top: 20px;
}