/******PLAGINS*******/
.input-width-js input {
	opacity: 0;
}
.field-price-search input.input-width-js {
	padding: 0;
}
/*slider*/
.bx-wrapper {
	position: relative;
}

.bx-controls-direction {
	position: absolute;
	width: 100%;
	font-weight: 300;
	.bx-prev, .bx-next {
		position: absolute;
		background: url(../img/control-sprite.png);
	}
}

.spec-slider .bx-controls-direction {
	top: 13%;
	font-size: 60px;
	.bx-prev, .bx-next {
		width: 25px;
		height: 30px;
	}
	.bx-prev {
		left: 0;
		background-position: 0 0;
		&:hover {
			background-position: 0 -35px;
		}
	}
	.bx-next {
		right: 0;
		background-position: -30px 0;
		&:hover {
			background-position: -30px -35px;
		}
	}
}

.reviews-slider {
	.bx-prev, .bx-next {
		width: 13px;
		height: 15px;
		background-size: 28px;
	}
	.bx-prev {
		left: 0;
		&:hover {
			background-position: 0 -18px;
		}
	}
	.bx-next {
		left: 20px;
		background-position: -15px 0;
		&:hover {
			background-position: -15px -18px;
		}
	}
}

/*------Dropzone----------*/
.dropzone, .dropzone * {
  box-sizing: border-box; }

.dropzone {
  position: relative; }
  .dropzone .dz-preview {
    position: relative;
    display: inline-block;
    width: 120px;
    margin: 0.5em;
    padding: 5px;
    background-color: #fff; 
    border: 1px solid #ccc;
    img {
    	width: 100%;
    }
}
    .dropzone .dz-preview .dz-progress {
      display: block;
      height: 15px;
      border: 1px solid #aaa; }
      .dropzone .dz-preview .dz-progress .dz-upload {
        display: block;
        height: 100%;
        width: 0;
        background: green; }
    .dropzone .dz-preview .dz-error-message {
      color: red;
      display: none; }
    .dropzone .dz-preview.dz-error .dz-error-message, .dropzone .dz-preview.dz-error .dz-error-mark {
      display: block; }
    .dropzone .dz-preview.dz-success .dz-success-mark {
      display: block; }
    .dropzone .dz-preview .dz-error-mark, .dropzone .dz-preview .dz-success-mark {
      position: absolute;
      display: none;
      left: 30px;
      top: 30px;
      width: 54px;
      height: 58px;
      left: 50%;
      margin-left: -27px; }

      .dz-message {
      	width: 290px;
      }

      .data-dz-name {
      	word-wrap: break-word;
      }