.content {
	margin-top: 60px;
	margin-bottom: 60px;
}

.main-menu {
	padding-top: 35px;
	li {
		margin: 10px 25px 10px 0;
		&.active a {
			text-transform: uppercase;
		}
		&.active a, &:hover a {
			color: @clr_tx;
		}
	}
	a {
		margin-bottom: 30px;
		color: #212121;
		text-transform: uppercase;
	}
}

.left-menu {
	margin-top: 0px;
	li {
		margin-bottom: 20px;
		&:last-child {
			margin-bottom: 0;
		}
		a {
			color: lighten(@clr_tx, 20%);
			&:hover {
				color: @clr_tx;
				border-bottom-color: inherit;
			}
		}
		&.active {
			a {
				color: @clr_tx;
			}
		}
	}
}

.row-menu {
	margin-bottom: 40px;
}

.sub-menu {
	li {
		margin-bottom: 10px;
		a {
			color: @clr_tx;
			&:hover {
				color: darken(@clr_tx, 50%);
			}
		}
	}
}

.row-menu {
	li {
		margin-right: 30px;
		&:last-child {
			margin-right: 0;
		}
	}
	a {
		color: #3a638f;
		font-size: 16px;
		border-bottom: 1px dashed #3a638f;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		transition: all 0.5s;
		text-decoration: none;
		&:hover {
			border-bottom-color: transparent;
			-webkit-transition: all 0.5s;
			-moz-transition: all 0.5s;
			transition: all 0.5s;
		}
	}
}

.one-news {
	position: relative;
	margin-bottom: 60px;
	&:hover .link {
		border-bottom-color: transparent;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		transition: all 0.5s;
	}
	.link-news {
		position: absolute;
		left: 0;
		width: 100%;
		height: 100%;
	}
	.data {
		margin: 0;
		color: #a4a4a4;
		font-size: 12px;
	}
	.img-prev {
		padding-right: 60px;
	}
	img {
		width: 63px;
		height: 63px;
		border-radius: 50%;
	}
}

.block-callus {
	&__bot {
		margin-top: 10px;
	}
}

.news-inside {
	margin-bottom: 75px;
	img {
		float: left;
		margin-top: 10px;
		padding-right: 30px;
		padding-bottom: 30px;
	}
}

.entered {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	h4 {
		margin: 0 0 20px 0;
	}
	.block-window {
		padding: 25px 55px;
		color: #fff;
		background-color: rgba(255,255,255,0.16);
		border-radius: 10px;
		.field {
			width: 100%;
			margin: 15px 0;
			padding: 10px 0;
			color: #fff;
			border-top: none;
			border-right: none;
			border-bottom: 1px solid #fff;
			border-left: none;
			background: none;
			&::-webkit-input-placeholder {color:#fff;}
			&::-moz-placeholder          {color:#fff;}/* Firefox 19+ */
			&:-moz-placeholder           {color:#fff;}/* Firefox 18- */
			&:-ms-input-placeholder      {color:#fff;}
		}
		.field-sbmt {
			margin-top: 30px;
			input {
				width: 30%;
			}
		}
	}
}

.diagnosis {
	.col-6 {
		position: relative;
	}
	margin-bottom: 80px;
	.link-angle {
		display: inline-block;
		margin-top: 20px;
	}
	.col-6:first-child {
		padding-right: 10px;
	}
	.col-6:last-child {
		padding-left: 10px;
	}
	&.col-6:hover .link-angle {
			text-decoration: underline;
		}
}

.treatment {
	&-item {
		&__img {
			display: inline-block;
			width: 86px;
			height: 86px;
			margin-right: 30px;
			background-position: 0 0;
			vertical-align: middle;
		}
		&:hover &__img {
			background-position: 0 100%;
		}
		&:hover &__tx {
			color: darken(@clr_main, 10%);
		} 
	}
	.row {
		margin-bottom: 60px;
	}
	a {
		display: inline-block;
		font-weight: 700;
		text-decoration: none;
	}
}

.partners {
	padding-bottom: 90px;
	.col-9 {
		font-weight: 300;
	}
}

.services {
	.row {
		min-height: 300px;
		&:last-of-type {
			margin-bottom: 60px;
		}
		.col-7, .col-5 {
			height: 100%;
		}
	}
}


/*--PRICES--*/
.table-price {
	width: 100%;
}

.procedure-name {
	text-align: center;
	background-color: #fff;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.table-row_white {
	background-color: #fff!important;
}

.table-row_gray {
	background-color: #ededed!important;
}

.table-price tr:not(.procedure-name) {
	padding: 10px 0 30px 0;
}

.table-price tr:not(.procedure-name) td, .table-price th {
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 30px;
	padding-left: 10px;
	text-align: left;
}

.table-price tr:nth-child(odd) {
	background-color: #ededed;
}

.table-price td:nth-child(2), .table-price td:nth-child(3) {
	font-size: 13px;
}

.table-price tr td:nth-child(6) {
	text-align: center!important;
}

/*---INDEX--*/
.sub_text {
  padding: 20px 0;
  margin: 0;
}

.tx-val {
	margin-top: 160px;
	margin-bottom: 50px;
}

.reviews-slider {
	margin-top: 4px;
}

.our-specialist {
	background: url(../img/bg-spec.jpg) no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}

.spec-slider {
	img {
		width: 141px;
		height: 141px;
		border-radius: 50%;
	}
	li p {
		width: 310px;
	}
}

.all-spec {
	margin: 75px 0 0 0;
} 

.bg-instr {
	padding: 140px 0 70px 0;
	background: url(../img/bg-instr.jpg) no-repeat;
	background-size: cover;
} 

.field {
	margin: 10px 0;
	&:last-child {
		margin-bottom: 0;
	}
	&:focus {
		border: 1px solid #043555;
	}
}

/*----ABOUT-CENTER----*/
.bg-about {
	background: url(../img/bg-big.jpg) repeat-y;
	background-size: cover;
}

.about {
	padding-top: 40px;
	padding-bottom: 40px;
	.row {
		margin-top: 80px;
		margin-bottom: 80px;
		&:last-child {
			margin-top: 150px;
		}
	}
}

.vacancy {
	padding-top: 40px;
	padding-bottom: 80px;
	img {
		margin-top: 38px;
	}
	.col-6 {
		padding-right: 20px;
	}
}

/*----diagnost-inside---*/
.block-di {
	&__user-img {
		float: left;
		margin-right: 40px;
		margin-bottom: 20px;
	}
}

.di-article {
	margin-right: 40px;
	vertical-align: middle;
}

.di-menu {
	vertical-align: baseline;
	li {
		margin-right: 40px;
		margin-bottom: 20px;
		&:last-child {
			margin-right: 0;
		}
	}
	.link {
		text-decoration: none;
	}
}

/*-----3D--------*/
.vertical-list {
	li {
		display: inline-block;
		width: 100%;
		list-style: none;
		margin: 0;
		a {
			color: #fff;
			text-decoration: none;
			-webkit-transition: all 0.5s;
			-moz-transition: all 0.5s;
			transition: all 0.5s;
		}
		a::before {
				content: '';
				float: left;
				display: inline-block;
				width: 10px;
				height: 28px;
				margin-right: 10px;
				background: url(../img/vertical-list.png) no-repeat;
				background-position: -12px -28px;
		}
		a:hover {
			&::before {
				content: '';
				background-position: 1px -28px;
			}
		}
		&:first-child {
			a::before {
				content: '';
				background-position: -12px 5px;
			}
			a:hover::before {
				content: '';
				background-position: 1px 5px;
			}
		}
		&:last-child {
			a::before {
				content: '';
				background-position: -12px -61px;
			}
			a:hover::before {
				content: '';
				background-position: 1px -61px;
			}
		}
	}
}

/*---------services-inside--------*/

/*--------personal-cabinet---------*/
.insider {
	position: relative;
	min-height: 800px;
}

.block-person {
	margin-top: 90px;
	margin-bottom: 80px;
	.profile-block {
		height: 630px;
		padding-top: 50px;
		color: #fff;
		background-color: #315478;
		.edit {
			display: inline-block;
			width: 100%;
			height: 80px;
			padding-top: 30px;
			color: #fff;
			text-align: center;
			text-decoration: none;
			background-color: #35577b;
			-webkit-transition: all 0.5s;
			-moz-transition: all 0.5s;
			transition: all 0.5s;
			&:hover {
				background-color: darken(#35577b,10%);
				-webkit-transition: all 0.5s;
				-moz-transition: all 0.5s;
				transition: all 0.5s;
			}
			i {
				display: inline-block;
				width: 19px;
				height: 19px;
				background: url(../img/fs-pen.png) no-repeat;
				margin-right: 10px;
				vertical-align: middle;
			}
		}
	}
	.user-block {
		height: 500px;
		padding-right: 60px;
		padding-left: 60px;
		&__img {
			width: 62px;
			height: 62px;
			margin-bottom: 20px;
			border-radius: 50%;
		}
	}
	.content-block {
		height: 630px;
		background-color: #fafafa;
		overflow: hidden;
		.row-item {
			min-height: 210px;
			border-bottom: 1px solid #d3e4ed;
			&:nth-of-type(3) {
				border-bottom: none;
			}
		}
	}
	.img-block {
		position: relative;
		min-height: 210px;
		padding-right: 60px;
		padding-left: 60px;
		background-color: #d3e4f4;
	}
	.info-block {
		position: relative;
		min-height: 210px;
		padding-top: 60px;
		padding-right: 60px;
		padding-left: 60px;
		&::before {
			content: '';
			position: absolute;
			top: 50%;
			left: -39px;
			border: 17px solid transparent;
    		border-right: 22px solid #fafafa;
			-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			transform: translateY(-50%);
		}
	}
	.row-js {
		position: relative;
		min-height: 420px;
		padding: 40px;
		.botlink {
			position: absolute;
			bottom: 25px;
			font-size: 12px;
			&_right {
				right: 40px;
			}
			&_left{
				left: 40px;
			}
		}
	}
	.analyzes {
		height: 630px;
		background-color: #fafafa;
		ul {
			height: 425px;
			overflow: auto;
		}
		li {
			margin-bottom: 20px;
			&:last-child {
				margin-bottom: 0;
			}
			a {
				position: relative;
				margin-left: 20px;
				&::before {
					content: '';
					position: absolute;
					left: -20px;
					bottom: 0;
					display: inline-block;
					width: 8px;
					height: 16px;
					background: url(../img/fs-download.png) no-repeat;
					background-position: 50%;
				}
			}
		}
	}
	.dropzone {
		width: 100%;
		height: 280px;
		border: 2px dashed #d3e4ed;
		overflow: scroll;
	}
}

/***/
.block-chat {
	&__window {
		height: 250px;
		overflow-y: scroll;
		&__row {
			position: relative;
			//&:nth-child(odd) {
				.block-chat__window__cloud__wrap_md {
					background-color: #dce7f2;
					&::after {
						left: 10px;
						border-top-color: #dce7f2;
						border-right-width: 12px;
						border-right-style: solid;
						border-right-color: transparent;
					}
				}
			//}
			//&:nth-child(even) {
				.block-chat__window__cloud__wrap_user {
					background-color: #e5e5e5;
					&::after {
						right: 10px;
						border-top-color: #e5e5e5;
						border-left-width: 12px;
						border-left-style: solid;
						border-left-color: transparent;
					}
				}
			//}
		}
		&__date {
			.centredY;
			right: 20px;
			p {
				margin: 0;
				color: #2e2e2e;
				font-size: 10px;
			}
		}
		&__cloud {
			padding: 10px;
		}
		&__cloud__wrap {
			position: relative;
			min-height: 70px;
			padding: 10px;
			border-radius: 10px;
			&::after {
				content: '';
				position: absolute;
				bottom: -12px;
				display: block;
				width: 0;
				height: 0;
				border-top-width: 12px;
				border-top-style: solid;
			}
			p {
				margin: 0;
			}
			span {
				color: #315478;
				font-size: 10px;
			}
		}
	}
	&__user-tx {
		float: left;
		width: 380px;
		margin-right: 20px;
		border: 1px solid #5b87b3;
	}
	&__user-btn {
		padding-top: 8px;
    	padding-bottom: 8px;
	}
	&__message {
		margin-top: 30px;
	}
}

.block-reviews {
	&__item {
		margin-bottom: 40px;
		&:last-child {
			margin-bottom: 120px;
		}
		&:nth-child(odd) &__img {
			text-align: left;
		}
		&:nth-child(even) &__img {
			text-align: right;
		}
		&__img img {
		width: 95px;
		height: 95px;
		border-radius: 50%;
	}
	}
	h6 {
		margin: 0;
	}
}

/**********/
.block-specs {
	&__item {
		margin-top: 60px;
		margin-bottom: 60px;
		h6 {
			margin-top: 0;
			margin-bottom: 10px;
			font-weight: 700;
		}
		p {
			margin: 0;
		}
		&__img {
			img {
				width: 112px;
				height: 112px;
				border-radius: 50%;
			}
		}
	}
	&__department {
		margin-top: 80px;
		margin-bottom: 80px;
		text-align: left;
		text-transform: uppercase;
		h6 {
			margin: 0;
		}
	}
}

/******/
.block-vacancy {
	margin-bottom: 40px;
	&__name {
		margin-bottom: 10px;
	}
	&__item {
		margin-bottom: 60px;
	}
	p:not(.block-vacancy__about) {
		margin: 0;
	}
	&__about {
		margin-top: 10px;
		margin-bottom: 10px;
		color: #3a638f;
	}
	span {
		font-weight: 700;
	}
}

/******/
.block-error {
	color: #fff;
	text-align: center;
}

/************/
@keyframes animateimg {
	from {
		transform: rotate(0deg) translateX(5px) rotate(0deg) perspective(100px) rotate3d(0, -1, 0, -3deg)
	}
	to {
		transform: rotate(360deg) translateX(5px) rotate(-360deg) perspective(100px) rotate3d(0, -1, 0, -3deg)
	}
}

@keyframes animatespan {
	from {
		transform: rotate(0deg) translateX(-5px) rotate(0deg) perspective(100px) rotate3d(0, -1, 0, -3deg)
	}
	to {
		transform: rotate(-360deg) translateX(-5px) rotate(360deg) perspective(100px) rotate3d(0, -1, 0, -3deg)
	}
}

.search-field {
	font-size: 16px;
	border:none;
	&:hover, &:focus {
		border-top: none!important;
		border-right: none!important;
		border-bottom: none!important;
		border-left: none!important;
	}
}

.field-price-search {
	position: relative;
	display: inline-block;
	padding-top: 12px;
	&::after {
		content: '';
		position: absolute;
		bottom: -1px;
		right: 0;
		width: ~"calc(100% - 40px)";
		border-bottom: 1px solid @clr_tx;
	}
	input {
		display: inline-block;
		width: 240px;
		height: 27px;
		padding-top: 0;
		padding-right: 0;
		padding-bottom: 0;
		padding-left: 40px;
		background-image:url(../img/search.png);
		background-position: 0 0;
		background-repeat: no-repeat;
	}
}

.contacts {
	li {
		margin-left: 0;
	}
	p {
	padding-left: 0px;
		a {
			text-decoration: none;
		}
	}
}

.form-group.field-price-search {
	span {
		width: 40px;
	}
	input {
		padding-right: 0;
		padding-left: 40px;
	}
}

.field-sbmt {
	.link_wbbn.link {
		margin-top: 5px;
		margin-right: 20px;
		text-decoration: none;
	}
}